<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pyramid Word Finder</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  </head>
  <body>
    <header>
      <h1>Pyramid Word Finder</h1>
      <p>
        Accepts a string as input and returns a response indicating whether a word is a pyramid word.  A word is a ‘pyramid’ word if you can arrange the letters in increasing frequency, starting with 1 and continuing without gaps and without duplicates.
      </p>
      <p>
        Call using https://numerous-blushing-hub.glitch.me/pyramid?word=wordtoexamine
      </p>
      <h2>
        Example:
      </h2>
      <code><a href="https://numerous-blushing-hub.glitch.me/pyramid?word=banana">https://numerous-blushing-hub.glitch.me/pyramid?word=banana</a></code>
      <br/>
      <h2>
        Returns:
      </h2>
       <code>{ "isPyramidWord": true }</code>        
    </header>
  </body>
</html>
